

.daylaform{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    background: #f5f6fa;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 20px #ced6e0;
}


@media only screen and (max-width: 568px) {
	.navbar{
		display: list-item;
		position: fixed;
		background: white;
		z-index: 999;
		width: 100%;
		margin-top: -23px;
	}
}