@media only screen and (max-width: 568px) {
	.chinhanh{
        const settings = {
            className: "center",
            infinite: true,
            centerPadding: "1px",
            slidesToShow: 5,
            swipeToSlide: true,
            afterChange: function(index) {
              console.log(
                `Slider Changed to: ${index + 1}, background: #222; color: #bada55`
              );
            }
	}
}