<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="col-sm-12 col-xs-12">
            <div class="alert alert-success" style="display:none"> Cảm ơn bạn đã liên hệ với chúng tôi!</div>
        </div>
        <form accept-charset="UTF-8"
            action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSep5Eg7f7SV4WFvd-T5PQlG-MJBP82HETRsbd3eQIC3WQx2dQ/formResponse"
            id="contact2" method="post" target="hidden_iframe">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="col_flied">
                        <div class="left_flied">
                            <span>Nhập Gmail</span>
                            <input autocomplete="off" class="form-control  form-control-lg" id="ContactFormInfo"
                                name="entry.15191181" placeholder="Email/SĐT" required="" type="text" value="">
                        </div>
                        <div class="right_flied icon_1 fa1 user m1">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="col_flied">
                        <div class="left_flied group_go">
                            <span>Nhập Địa Chỉ</span>
                            <input autocomplete="off"
                                class="date_picker ngayden form-control  form-control-lg hasDatepicker" id="StartDate"
                                name="entry.872468786" placeholder="Nhập Địa Chỉ" required="" type="text" value="">
                        </div>
                        <div class="right_flied icon_1 icon_2 fa1 date m5">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="col_flied">
                        <div class="left_flied group_out">
                            <span>Thông Tin Sản Phẩm</span>
                            <input autocomplete="off"
                                class="date_picker ngaydi form-control  form-control-lg hasDatepicker"
                                 id="EndDate" name="entry.554598849" placeholder="Thông Tin Phản Hồi"
                                required="" type="text" value="">
                        </div>
                        <div class="right_flied icon_1 icon_2 fa1 date m5">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <button class="btn_70 button_gradient" type="submit">Gửi thông tin đặt xe</button>
                </div>
            </div>
        </form>
        <iframe class="hidden" id="hidden_iframe" name="hidden_iframe"></iframe>
    </div>
</body>

</html>