<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="col-sm-12 col-xs-12">
            <div class="alert alert-success" style="display:none"> Cảm ơn bạn đã liên hệ với chúng tôi!</div>
        </div>
        <form accept-charset="UTF-8"
            action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSep5Eg7f7SV4WFvd-T5PQlG-MJBP82HETRsbd3eQIC3WQx2dQ/formResponse"
            id="contact2" method="post" target="hidden_iframe">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="col_flied">
                        <div class="left_flied">
                            <span>Thông tin</span>
                            <input autocomplete="off" class="form-control  form-control-lg" id="ContactFormInfo"
                                name="entry.1629968009" placeholder="Email/SĐT" required="" type="text" value="">
                        </div>
                        <div class="right_flied icon_1 fa1 user m1">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="col_flied">
                        <div class="left_flied filed_each tuyenduong">
                            <span>Dịch vụ</span>
                            <select id="category1" name="entry.123456">
                                <option value="">Chọn dịch vụ</option>
                                <option value="Xe nổi bật">Xe nổi bật</option>
                                <option value="Thuê xe hoa">Thuê xe hoa</option>
                                <option value="Thuê xe du lịch">Thuê xe du lịch</option>
                                <option value="Thuê xe có lái">Thuê xe có lái</option>
                                <option value="Thuê xe gia đình">Thuê xe gia đình</option>
                            </select>
                        </div>
                        <div class="right_flied icon_1 fa1 option m1">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="col_flied">
                        <div class="left_flied filed_each loaixe">
                            <span>Loại xe</span>
                            <select class="subcat" id="category2" name="entry.222222">
                                <option value="Cho thuê Mazda 3 hatchbach đời mới">Cho thuê Mazda 3 hatchbach đời mới
                                </option>
                                <option value="Cho thuê Mazda 6 đời mới 2019">Cho thuê Mazda 6 đời mới 2019</option>
                                <option value="Cho thuê Mazda 3 đời mới 2019">Cho thuê Mazda 3 đời mới 2019</option>
                                <option value="Kia Morning đời mới xe mới về 2019">Kia Morning đời mới xe mới về 2019
                                </option>
                            </select>
                        </div>
                        <div class="right_flied icon_1 fa1 fa_angle_down">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="col_flied">
                        <div class="left_flied group_go">
                            <span>Thời gian đi</span>
                            <input autocomplete="off"
                                class="date_picker ngayden form-control  form-control-lg hasDatepicker" id="StartDate"
                                name="entry.1322889167" placeholder="Thời gian đi" required="" type="text" value="">
                        </div>
                        <div class="right_flied icon_1 icon_2 fa1 date m5">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="col_flied">
                        <div class="left_flied group_out">
                            <span>Thời gian về</span>
                            <input autocomplete="off"
                                class="date_picker ngaydi form-control  form-control-lg hasDatepicker"
                                disabled="disabled" id="EndDate" name="entry.1769262856" placeholder="Thời gian về"
                                required="" type="text" value="">
                        </div>
                        <div class="right_flied icon_1 icon_2 fa1 date m5">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="col_flied">
                        <div class="left_flied">
                            <span>Ghi chú</span>
                            <input autocomplete="off" class="form-control  form-control-lg" name="entry.1155005847"
                                placeholder="Ghi chú" type="text" value="">
                        </div>
                        <div class="right_flied icon_1 icon_3 fa1 note m6">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <button class="btn_70 button_gradient" type="submit">Gửi thông tin đặt xe</button>
                </div>
            </div>
        </form>
        <iframe class="hidden" id="hidden_iframe" name="hidden_iframe"></iframe>
    </div>
</body>

</html>